# =====================================
# Python
# =====================================

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# =====================================
# Virtual Environment
# =====================================

# Local virtual environment
.venv/
venv/
env/

# =====================================
# Distribution / Packaging
# =====================================

build/
dist/
*.egg-info/

# =====================================
# Testing
# =====================================

.pytest_cache/
.coverage
htmlcov/

# =====================================
# IDEs & Editors
# =====================================

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# =====================================
# Logs
# =====================================

*.log

# =====================================
# Environment Variables
# =====================================

.env
.env.*

# =====================================
# Jupyter Notebooks
# =====================================

.ipynb_checkpoints/

# =====================================
# Ruff / MyPy
# =====================================

.ruff_cache/
.mypy_cache/